<div class="flex flex-col p-4 h-full w-full">

  <!-- Filter -->
  <div class="mb-2 w-full">
    <filter-layout class="w-full" filterTitle="Filter instruments" [formGroup]="instrumentFilterForm" (clear)="onFilterClear()"
      (search)="onFilterSearch()">

      <div class="w-[80%] flex justify-between items-center gap-x-20">
        <div class="w-full">
          <label for="name" class="text-primary text-sm font-medium">Name</label>
          <div>
            <input formControlName="name" placeholder="Search by name"
              class="input input-md w-full bg-white/10 text-secondary py-1 px-3 border-2 border-(--color-surface) rounded-2xl
              focus-within:outline-none focus:ring-0">
          </div>
          <span class="block text-xs"
          fielderror
          [isInvalidField]="this.isInvalidField('name', true)"
          [error]="this.getErrorMessage('name',true)"></span>
        </div>
        <div class="w-full">
          <label for="country" class="text-primary text-sm font-medium">Country</label>
          <div>
            <input formControlName="country" placeholder="Search by country"
              class="input ibnput-md bg-white/10 text-secondary py-1 px-3 border-2 border-(--color-surface) rounded-2xl
              focus-within:outline-none focus:ring-0">
          </div>
          <span class="block text-xs"
          fielderror
          [isInvalidField]="this.isInvalidField('country', true)"
          [error]="this.getErrorMessage('country', true)"></span>
        </div>

        <div class="w-full">
          <label for="type" class="text-primary text-sm font-medium">Type</label>
          <div>
            <select formControlName="type"
              class="select select-md w-full bg-[rgba(57,57,61,1)] text-secondary py-1.5 px-3 border-2 border-(--color-surface) rounded-2xl
              focus-within:outline-none focus:ring-0">
              <option [value]="null"></option>
              @for (item of instrumentTypeOptions; track $index) {
              <option [value]="item.value">
                {{item.label}}
              </option>
              }
            </select>
          </div>
        </div>

      </div>
    </filter-layout>
  </div>

  <!-- Update / Create Modal -->
  <dialog-modal #dialogModalComponent [title]="instrumentDialogModalTitle()" [showCloseButton]="false"
    [divContentClasses]="'h-56 bg-surface'" [disableOKButton]="disableDialogModalOkBtn()!" (cancelButtonEmit)="onCancelModalButtonClicked()"
    (okButtonEmit)="onAcceptModalButtonClicked()">
    <form autocomplete="off" class="h-full" [formGroup]="instrumentDialogModalForm" (ngSubmit)="$event.preventDefault()"
      (keydown.enter)="$event.preventDefault()">
      <div class="flex h-full items-center gap-10 px-4 py-2">
        <div class="h-full flex flex-col gap-2">
          <div>
            <label for="name" class="text-sm text-primary font-medium">Name</label>
            <div>
              <input type="text" id="name" placeholder="Enter name..." formControlName="name"
                class="input input-md bg-white/10 text-secondary py-1 px-3 border border-(--color-surface) rounded-2xl
                focus-within:outline-none focus:ring-0">
            </div>
            <span class="block text-xs"
            fielderror
            [isInvalidField]="this.isInvalidField('name')"
            [error]="getErrorMessage('name')"></span>
          </div>
          <div>
            <label for="country" class="text-sm text-primary font-medium">Country</label>
            <div>
              <input type="text" id="country" placeholder="Enter country..." formControlName="country"
                class="input input-md bg-white/10 text-secondary py-1 px-3 border border-(--color-surface) rounded-2xl
                focus-within:outline-none focus:ring-0">
            </div>
            <span class="block text-xs"
            fielderror
            [isInvalidField]="this.isInvalidField('country')"
            [error]="getErrorMessage('country')"></span>
          </div>
          <div>
            <label for="type" class="text-sm text-primary font-medium">Type</label>
            <div>
              <select id="type" formControlName="type"
                class="select select-md bg-[rgba(57,57,61,1)] w-full text-secondary py-1.5 px-3 border border-(--color-surface) rounded-2xl">
                <option [value]="null"></option>
                @for (item of instrumentTypeOptions; track $index) {
                <option [value]="item.value">
                  {{item.label}}
                </option>
                }
              </select>
            </div>
            <span class="block text-xs"
            fielderror
            [isInvalidField]="this.isInvalidField('type')"
            [error]="getErrorMessage('type')"></span>
          </div>
        </div>
        <div class="h-full flex flex-col mt-2">
          <label for="musicianId" class="text-sm text-primary font-medium">Musician</label>
          <input-search-selector
          [initialDto]="initialDto()"
          [callBackShowFieldValueFn]="callBackShowFieldValueFn"
          [callBackGetFilterFn]="callBackGetFilterFn"
          [searchPostUri]="searchPostUri"
          (elementSelected)="setMusicianId($event)"
          (elementCleared)="setMusicianId(null)">
          </input-search-selector>
            <span class="block text-xs"
            fielderror
            [isInvalidField]="this.isInvalidField('musicianId')"
            [error]="getErrorMessage('musicianId')"></span>
        </div>

        <div class="h-full flex flex-1 flex-col mt-2">
          <label for="description" class="text-sm text-primary font-medium">Description</label>
          <textarea id="description" placeholder="Enter instrument description..." formControlName="description"
            class="bg-white/10 h-full text-secondary py-1 px-3 border border-(--color-surface) rounded-2xl">
          </textarea>
        </div>

      </div>
    </form>

  </dialog-modal>

  <!-- Prompt Modal -->

  <dialog-modal #promptModalComponent
  [divContentClasses]="'h-15 bg-surface'"
  [title]="promptDeleteModalTitle()"
  [showCloseButton]="false"
  [okButtonText]="'Delete'"
  (cancelButtonEmit)="onCancelPromptButtonClicked()"
  (okButtonEmit)="onDeletePromptButtonClicked()">
    <h3 class="text-2xl text-red-800 p-2">
      {{ promptDeleteModalBodyText() }}
    </h3>
  </dialog-modal>


  <!-- Table -->
  <table-layout class="h-full" [tableTitle]="'Instrument List'" (addButtonClicked)="showModalOnCreateMode()"
    (deleteAllButtonClicked)="onDeleteAllButtonClicked()"
    [deleteAllButtonDisabled]="deleteAllButtonDisabled()">
    <tr table-header>
      <th></th>
      <th>Name</th>
      <th>Owner</th>
      <th>Country</th>
      <th>Type</th>
      <th class="w-[15%] text-end pr-10">Options</th>
    </tr>
    @for (instrument of instrumentList().results; track instrument.id) {
    <tr table-body>
      <td>
        <label>
          <input type="checkbox" class="checkbox" (change)="updateSelectedInstrumentForDelete(instrument.id, $event)" />
        </label>
      </td>
      <td>
        {{instrument.name}}
      </td>
      <td>
        {{instrument.musicianName}}
      </td>
      <td>
        {{instrument.country}}
      </td>
      <td>
        {{ getInstrumentTypeLabel(instrument.type) }}
      </td>
      <td>
        <div class="flex justify-end items-center gap-1">
          <a class="btn btn-link" title="Edit instrument" (click)="showModalOnUpdateMode(instrument.id)">
            <i class="fa-solid fa-pen-to-square text-(--color-primary) hover:scale-125 hover:transition hover:ease-in hover:duration-100"></i>
          </a>
          <a class="btn btn-link" title="Delete instrument">
            <i class="fa-solid fa-trash text-red-800 hover:scale-125 hover:transition hover:ease-in hover:duration-100"
              (click)="showConfirmDeleteInstrument(instrument.id)"></i>
          </a>
        </div>
      </td>
    </tr>
    }

    <!-- Pagination -->
    <div table-pager class="flex justify-between items-center py-1 px-3">
      <items-per-page (itemsPerPageChange)="tableItemsPerPageChanged($event)"></items-per-page>
      <table-pager [currentPage]="page()" [pageCount]="pageCount()" (pageChanged)="tablePageChanged($event)">
      </table-pager>
    </div>

  </table-layout>






</div>
