<form autocomplete="false" [formGroup]="formGroup()" (ngSubmit)="onSearch()" (keydown.enter)="onSearch()">
<div class="flex flex-col h-full w-full border-2 border-(--color-primary) rounded-2xl shadow-lg">
  <div class="h-10 bg-surface rounded-t-2xl py-2 px-4">
    <h3 class="text-primary text-xl align-middle">
      {{ filterTitle() }}
    </h3>
  </div>

  <div class="flex-1 basis-20 py-2 px-4 bg-white/10">
    <div class="w-full h-full overflow-x-auto">
    <ng-content></ng-content>
    </div>
  </div>

  <div class="h-12 bg-surface text-end align-middle rounded-b-2xl py-2 px-4">
    <button (click)="onSearch()"
    [disabled]="this.formGroup().invalid" class="btn btn-sm border-2 border-(--color-primary) rounded-2xl">
      <i class="fa-solid fa-magnifying-glass text-(--color-primary)"></i>
      Search
    </button>
    <button (click)="onClear()" class="btn btn-sm border-2 border-(--color-secondary) rounded-2xl ml-2">
      <i class="fa-solid fa-xmark text-(--color-secondary)"></i>
      Clear
    </button>
  </div>
</div>
</form>

