<!-- <div class="w-75"> -->
  <div id="menu" class=" bg-surface rounded-b-lg p-4 h-full">
    <div>
      <h1 class="font-bold text-xl text-primary leading-4">Menu</h1>
    </div>

    <hr class="my-2 border-(--color-primary)">
    <div id="menu" class="flex flex-col justify-between h-full">
      <div class="flex flex-col space-y-2">
      <a [routerLink]="['/dashboard/home']"
      [routerLinkActive]="['bg-white/10']"
       class="transition duration-150 ease-linear rounded-lg py-3 px-2 group">
        <div class="flex flex-col space-y-2 md:flex-row md:space-y-0 space-x-2 items-center">
          <div>
            <i class="fa-regular fa-house"></i>
          </div>
          <div>
            <p class="font-bold text-base lg:text-lg text-slate-200 leading-4 group-hover:text-indigo-400">Dashboard</p>
            <p class="text-slate-400 text-sm hidden md:block">Data overview</p>
          </div>

        </div>
      </a>
      <a [routerLink]="['/musician/list']"
      [routerLinkActive]="['bg-white/10']"
      class="hover:bg-white/10 transition duration-150 ease-linear rounded-lg py-3 px-2 group">
        <div class="relative flex flex-col space-y-2 md:flex-row md:space-y-0 space-x-2 items-center">
          <div>
            <i class="fa-solid fa-music text-xl"></i>
          </div>
          <div>
            <p class="font-bold text-base lg:text-lg text-slate-200 leading-4 group-hover:text-indigo-400">Musicians</p>
            <p class="text-slate-400 text-sm hidden md:block">Manage Musicians</p>
          </div>
          <div
            class="absolute -top-3 -right-3 md:top-0 md:right-0 px-2 py-1.5 rounded-full bg-indigo-800 text-xs font-mono font-bold">
            23</div>
        </div>
      </a>
      <a [routerLink]="['/activity/list']"
      [routerLinkActive]="['bg-white/10']" class="transition duration-150 ease-linear rounded-lg py-3 px-2 group">
        <div class="flex flex-col space-y-2 md:flex-row md:space-y-0 space-x-2 items-center">
          <div>
            <i class="fa-solid fa-person-walking text-xl"></i>
          </div>
          <div>
            <p class="font-bold text-base lg:text-lg text-slate-200 leading-4 group-hover:text-indigo-400">Activities
            </p>
            <p class="text-slate-400 text-sm hidden md:block">Manage activites</p>
          </div>

        </div>
      </a>
      <a [routerLink]="['/instrument/list']"
      [routerLinkActive]="['bg-white/10']"
      class=" transition duration-150 ease-linear rounded-lg py-3 px-2 group">
        <div class="flex flex-col space-y-2 md:flex-row md:space-y-0 space-x-2 items-center">
          <div>
            <i class="fa-solid fa-guitar"></i>
          </div>
          <div>
            <p class="font-bold text-base lg:text-lg text-slate-200 leading-4 group-hover:text-indigo-400">Instruments
            </p>
            <p class="text-slate-400 text-sm hidden md:block">Manage instruments</p>
          </div>

        </div>
      </a>
      <a href="#" class="hover:bg-white/10 transition duration-150 ease-linear rounded-lg py-3 px-2 group">
        <div class="flex flex-col space-y-2 md:flex-row md:space-y-0 space-x-2 items-center">
          <div>
            <i class="fa-solid fa-money-bill-1"></i>

          </div>
          <div>
            <p class="font-bold text-base lg:text-lg text-slate-200 leading-4 group-hover:text-indigo-400">Payments</p>
            <p class="text-slate-400 text-sm hidden md:block">Manage payments</p>
          </div>

        </div>
      </a>
      </div>
      <div class="w-full pb-6">
        <button class="btn btn-primary rounded-lg w-full hover:bg-purple-900 ease-in transition duration-150"
        (click)="onLogout()">
        <span class="text-primary ml-2">Logout</span>
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      </button>
      <div class="w-full mt-2">
        <p class="text-sm text-center text-gray-600">v2.0.0.3 | &copy; 2026 EdgeYByte LLC</p>
      </div>
    </div>
  </div>
  </div>

<!-- </div> -->
