<div class="bg-surface w-full">
  <div class="flex flex-row justify-between h-full items-center">
    <div class="flex flex-row items-center">
      <img src="assets/logo.png" alt="logo" class="w-16">
      <h1 class="font-bold text-primary text-2xl">Music Band App</h1>
    </div>
    <div class="flex flex-row items-center gap-2">
      <div>
        <a href="#"
          class="flex flex-col space-y-2 md:space-y-0 md:flex-row items-center md:space-x-2 hover:bg-white/10 group transition duration-150 ease-linear rounded-lg group w-full px-2">
          <div>
            <img class="rounded-full w-10 h-10 relative object-cover"
              src="https://img.freepik.com/free-photo/no-problem-concept-bearded-man-makes-okay-gesture-has-everything-control-all-fine-gesture-wears-spectacles-jumper-poses-against-pink-wall-says-i-got-this-guarantees-something_273609-42817.jpg?w=1800&t=st=1669749937~exp=1669750537~hmac=4c5ab249387d44d91df18065e1e33956daab805bee4638c7fdbf83c73d62f125"
              alt="">
          </div>
          <div>
            <p class="font-medium text-primary group-hover:text-indigo-400 leading-4">{{ currentUser?.given_name }}</p>
            <span class="text-xs text-secondary">EdgeYByte LLC</span>
          </div>
        </a>
      </div>
      <div>
        <button class="btn border-2 border-(--color-primary) rounded-full" (click)="onLogout()">
          <i class="fa-solid fa-arrow-right-from-bracket text-(--color-primary)"></i>
        </button>
      </div>
    </div>
  </div>
</div>
